In [1]:
import pandas as pd

# 1. Загрузка данных

In [4]:
data1 = pd.read_csv('./result/result_models_2906.csv', header=0, sep=';')
data2 = pd.read_csv('./result/result_models_3006.csv', header=0, sep=';')

In [5]:
data1.head()

        lr1       lr2       rf1       rf2      xgb1      xgb2      xgb3
0  0.384195  0.401041  0.502771  0.546647  0.521906  0.519609  0.516442
1  0.341164  0.365068  0.585442  0.569072  0.555073  0.580353  0.618696
2  0.422933  0.447469  0.431909  0.463101  0.409766  0.453871  0.467037
3  0.040304  0.046670  0.586248  0.547270  0.529089  0.566818  0.563297
4  0.105830  0.118479  0.255689  0.306303  0.235465  0.248358  0.256327

In [6]:
data2.head()

       xgb1      xgb2      xgb3      xgb4      xgb5  mean_all
0  0.520264  0.502211  0.468944  0.510608  0.517678  0.503941
1  0.589130  0.555789  0.624814  0.587620  0.604088  0.592288
2  0.452479  0.436620  0.463348  0.461057  0.486453  0.459992
3  0.582999  0.563432  0.618689  0.561760  0.601095  0.585595
4  0.236527  0.241340  0.266459  0.244176  0.265393  0.250779

In [7]:
data2.drop('mean_all', axis=1, inplace=True)

In [8]:
data = pd.concat([data1, data2], axis=1)

In [15]:
data.drop(['lr1', 'lr2'], axis=1, inplace=True)

In [16]:
data.head()

,rf1,rf2,xgb1,xgb2,xgb3,xgb1,xgb2,xgb3,xgb4,xgb5
0,0.502771,0.546647,0.521906,0.519609,0.516442,0.520264,0.502211,0.468944,0.510608,0.517678
1,0.585442,0.569072,0.555073,0.580353,0.618696,0.589130,0.555789,0.624814,0.587620,0.604088
2,0.431909,0.463101,0.409766,0.453871,0.467037,0.452479,0.436620,0.463348,0.461057,0.486453
3,0.586248,0.547270,0.529089,0.566818,0.563297,0.582999,0.563432,0.618689,0.561760,0.601095
4,0.255689,0.306303,0.235465,0.248358,0.256327,0.236527,0.241340,0.266459,0.244176,0.265393

In [17]:
data.columns = ['rf1', 'rf2', 'xgb1', 'xgb2', 'xgb3', 'xgb4', 'xgb5', 'xgb6', 'xgb7', 'xgb8']

# 2. Получение взевешенного решения

In [18]:
data['rf_xgb'] = (data.rf1+data.rf2 + data.xgb1+data.xgb2+data.xgb3+data.xgb4+data.xgb5+data.xgb6+data.xgb7+data.xgb8)/10

In [19]:
data['xgb'] = (data.xgb1+data.xgb2+data.xgb3+data.xgb4+data.xgb5+data.xgb6+data.xgb7+data.xgb8)/8

In [20]:
data.head()

,rf1,rf2,xgb1,xgb2,xgb3,xgb4,xgb5,xgb6,xgb7,xgb8,rf_xgb,xgb
0,0.502771,0.546647,0.521906,0.519609,0.516442,0.520264,0.502211,0.468944,0.510608,0.517678,0.512708,0.509708
1,0.585442,0.569072,0.555073,0.580353,0.618696,0.589130,0.555789,0.624814,0.587620,0.604088,0.587008,0.589445
2,0.431909,0.463101,0.409766,0.453871,0.467037,0.452479,0.436620,0.463348,0.461057,0.486453,0.452564,0.453829
3,0.586248,0.547270,0.529089,0.566818,0.563297,0.582999,0.563432,0.618689,0.561760,0.601095,0.572070,0.573397
4,0.255689,0.306303,0.235465,0.248358,0.256327,0.236527,0.241340,0.266459,0.244176,0.265393,0.255604,0.249256

# 3. Сохраняем результат

In [21]:
data['rf_xgb'].to_csv('./result/rf_xgb.csv', header=None, index=False)
data['xgb'].to_csv('./result/xgb.csv', header=None, index=False)